/* * {
  outline: 1px dashed red;
} */

#nav {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 1%;
  border-radius: 5px;
  background-color: #0087bb;
  margin-left: 0.5%;
  /* add shadow effect to nav bar */
  box-shadow: 0 0 5px 5px grey;
}

#nav button {
  color: white;
  font-size: 18px;
}

/* Color of buttons */
#nav .btn-dark {
  background-image: url("../resources/images/dark-honeycomb.png");
}

/* Visual effect for nav button on hover */
#nav .btn-dark:hover {
  transform: scale(1.1);
}
